body, header {
    background-color: #050a30;
    color: lime;
}

header {
    height: 60px;
    display: flex;
    align-items: center;
}

nav {
    margin: 0 auto;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin-right: 20px;
}

a {
    color: lime;
    text-decoration: none;
}

a:hover {
    color: red;
}

blockquote:hover{
    color: red;
}

.contenedor {
    display: flex;
    justify-content: center;
}

.contenedor img {
    width: 200px;
    height: 200px;
    transition: all 0.3s ease;
}

.contenedor img:hover {
    animation: sacudir 0.5s ease-in-out;
    transform-origin: center;
}

@keyframes sacudir {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-10deg); }
    50% { transform: rotate(10deg); }
}

/* Nuevo código para el menú */
nav ul {
    display: flex;
}

nav ul li a {
    padding: 10px;
}

#audio {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #050a30;
    padding: 10px;
    border-radius: 10px;
  }
  
  #audio audio {
    width: 200px;
    margin-right: 10px;
  }
  
  #progressbar {
    width: 100px;
    height: 5px;
    background-color: lime;
    position: relative;
  }
  
  #progressbar::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 10px;
    height: 10px;
    background-color: lime;
    border-radius: 50%;
    transform: translateX(-50%);
  }
  
  #audio button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  #audio button svg {
    width: 20px;
    height: 20px;
    fill: lime;
  }
  
  #audio button:hover svg {
    fill: red;
  }
